ion-content {
  --background: #3b43be;
}
ion-card {
  --background: white !important;
}
.btc-header {
  background-color: #29308f;
  height: 180px;
  padding-top: 20px;
}

.btc-logo {
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  color: white;
}
.disclaimer {
  color: rgba(255, 255,255, 0.75);
  text-align: center;
  padding: 6px;
}
